### Thu muc build cua Gradle ###
/.gradle/
/build/
/bin/
**/bin/

### File biên dịch của Java ###
*.class
# properties dev
src/main/resources/application-dev.properties


### IDE cu the ###
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

### OS Files ###
.DS_Store
Thumbs.db