### Thư mục build của Gradle ###
build/
**/build/
bin/
.gradle/
**/.gradle/


### File biên dịch của Java ###
*.class
# properties dev
src/main/resources/application-dev.properties


### IDE cu the ###
.idea/
*.iml
.vscode/
**/.vscode/
.settings/
.classpath
.project

### OS Files ###
.DS_Store
Thumbs.db
bootRun_error.log
bootRun.log
